# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Streamlit cache and logs
.streamlit/
*.log

# SQLite database
*.db

# Environment variables
.env

# macOS system files
.DS_Store